* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

#head {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 77vh;
    width: 60vw;
    margin: auto;
    margin-bottom: 30px;
}

#head-img {
    grid-row: 2 / 6;
    grid-column: 1 / 10;
    background-image: url(../media/puck-duck.png);
    background-size: cover;
    z-index: -1
}

#nav {
    grid-row: 1 / 2;
    grid-column: 1;
    background-color: #1591d1;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-decoration: underline;
}

#nav a {
    color: black;
}

#head-overlay {
    grid-row: 4 / 7;
    grid-column: 2 / span 3;
    background-color: rgba(110, 18, 167, 0.664);
    font-size: 6rem;
    color: white;
    font-weight: 300;
    overflow: hidden;
    text-align: center;
    line-height: 7rem;
}

#head-overlay p {
    margin-top: 30px;
    margin-left: 10px;
}

#head-text {
    grid-row: 5 / 7;
    grid-column: 6 / span 4;
    background-color: white;
    font-size: 2rem;
    overflow: hidden;
}

#head-text p {
    margin-left: 10px;
}

#content {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 104vh;
    width: 60vw;
    margin: auto;
}

.content-item {
    border: 5px solid white;
    font-size: 1.3rem;
    overflow: hidden;
}

.content-item p {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.content1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 4;
    background-color: #a231e9;
    display: flex;
    align-items: center;
}

.content1 img {
    width: 6rem;
    float: left;
    margin: auto 10px;
}

.content2 {
    grid-row: 1 / span 2;
    grid-column: 5 / span 2;
    background-color: #1591d1;
    display: flex;
    align-items: center;
}

.content3 {
    grid-row: 1 / span 2;
    grid-column: 7 / span 3;
    background-color: #a231e9;
}

.content3 img {
    width: 40%;
    float: right;
}

.content3 p {
    margin-bottom: 5px;
    margin-top: 40%;
}

.content4 {
    grid-row: 3 / span 4;
    grid-column: 1 / span 3;
    background-color: #dd4b62;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.content4-img {
    grid-row: 2 / 5;
    background-color: black;
    background-image: url(../media/clear3Star.png);
    background-size: cover;
}

.content5 {
    grid-row: 3 / span 4;
    grid-column: 4 / span 2;
    background-color: #3ab8f2;
}

.content5 p {
    color: black;
}

.content6 {
    grid-row: 3 / span 2;
    grid-column: 6 / span 3;
    background-color: #1591d1;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.content6 p {
    margin: 5px;
    overflow: hidden;
}

.content7 {
    grid-row: 5 / span 2;
    grid-column: 6 / span 4;
    background-color: #dd4b62;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.content7 img {
    float: left;
    height: 80%;
}

.content8 {
    grid-row: 7 / span 2;
    grid-column: 1 / span 2;
    background-color: #a231e9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content8 img {
    width: 8rem;
    margin: 10px auto;
}

.content9 {
    grid-row: 6 / span 2;
    grid-column: 3 / span 2;
    background-color: #1591d1;
    display: flex;
    align-items: center;
}

.content10 {
    grid-row: 8;
    grid-column: 3 / span 2;
    background-color: #dd4b62;
}

.content11 {
    grid-row: 7 / span 2;
    grid-column: 5 / span 3;
    background-image: url(../media/screenshot.png);
    background-size: cover;
}

.content12 {
    grid-row: 7 / span 2;
    grid-column: 8 / span 2;
    background-color: #a231e9;
    display: flex;
    align-items: center;
}

footer {
    text-align: right;
    width: 60vw;
    margin: auto
}

#link {
    width: 50%;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
}

a:link, a:visited, a:active, a:focus, a:hover {
    text-decoration: none;
    color:#1591d1;
}